/*стилі для Footer>>*/

footer {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #80207b;
    margin-top: 1%;
    height: 200px;
    color: #fff;
    margin-bottom: 0px;
}

footer #social {
    float: left;
    width: 50%;
    font-size: 1em;
}

footer #rights {
    float: left;
    width: 50%;
    text-align: right;
}

.social_IMG {
    width: 50px;
    height: 50px;
}

#rights,
#social {
    margin: 30px;
}


/*<<стилі для Footer*/